<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="../assets/mentorme.png" />
        <Login />
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import Login from './Login';

export default {
  name: 'Landing',
  components: {
    Login,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

img {
  max-width: 200px;
}
</style>
