<template>
  <v-app dark>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer app>
      <Footer>Footer Section</Footer>
    </v-footer>
  </v-app>
</template>

<script>
import styled from 'vue-styled-components'

const Footer = styled.span`
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0 auto;
`

export default {
  data() {
    return {}
  },
  components: {
    Footer
  },
  name: 'App'
}
</script>
